atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
colorama==0.4.4
iniconfig==1.1.1
interchange==2021.0.4
monotonic==1.6
packaging==21.3
pansi==2020.7.3
pluggy==1.0.0
py==1.11.0
py2neo==2021.2.3
Pygments==2.11.2
pyparsing==3.0.8
pytest==7.1.1
python-dotenv==0.20.0
pytz==2022.1
six==1.16.0
tomli==2.0.1
urllib3==1.26.9
wincertstore==0.2
